.chat {
  flex: 0.7;
  flex-grow: 1;
  overflow-y: scroll;
  /* padding-bottom: 150px; */
}
.chat__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f1f1f1;
  padding: 20px;
}
.chat__channelName {
  text-transform: lowercase;
  display: flex;
  align-items: center;
}
.chat__channelName > .MuiSvgIcon-root {
  margin-left: 10px;
  font-size: 18px;
}
.chat__headerRight > p {
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}
.chat__headerRight > p > .MuiSvgIcon-root {
  margin-right: 5px !important;
  font-size: 15px;
}
.chat__messages {
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.chat__empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 80vh;
  font-size: 18px;
  font-style: italic;
}
